<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WatchWitch"
        tools:targetApi="31">
        <activity
            android:name=".WatchStateActivity"
            android:exported="false" />
        <activity
            android:name=".NetworkLogActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".HealthLogActivity"
            android:exported="false"
            android:label="@string/title_activity_health_log"
            android:theme="@style/Theme.WatchWitch" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TcpServerService"
            android:description="@string/service_alloy_desc"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
            android:icon="@drawable/witch_monochrome"
            android:label="@string/service_alloy_label" />
        <service
            android:name=".shoes.ShoesService"
            android:description="@string/service_shoes_desc"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
            android:icon="@drawable/witch_monochrome"
            android:label="@string/service_shoes_label"
            android:process=":wwshoes" />
    </application>

</manifest>